# 1. Create three variables in a single line and assign values to them in such a manner that each one of them belongs to a different data type.

In [9]:
a,b,c= 2,2.5,True

In [13]:
print (type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'bool'>

# 2. Create a variable of type complex and swap it with another variable of type integer.

In [25]:
x= 5j

In [26]:
y= 6

In [27]:
print(type(x))

<class 'complex'>

In [28]:
x,y = y,x

In [29]:
print(x,y)

6 5j

In [30]:
print(type(x))

<class 'int'>

# 3. Swap two numbers using a third variable and do the same task without using any third variable

In [34]:
# Swap two numbers using a third variable
x= 5
y= 8 
z= x
x= y
y= z
print (x,y)

8 5

In [33]:
# Swap two numbers without using any third variable
x= 2
y= 3
x,y = y,x
print (x,y)

3 2

# 4. Write a program that takes input from the user and prints it using both Python 2.x and Python 3.x Version.

In [37]:
# Python 3.x
x = input("insert a number:")
print(x)

insert a number:2
2

In [43]:
# Python 2.x
x = raw_input('insert a number: ')
print x

# 5. Write a program to complete the task given below:
# Ask users to enter any 2 numbers in between 1-10 , add the two numbers and keep the sum in another variable called z. Add 30 to z and store the output in variable result and print result as the final output

In [65]:
a = int(input("insert 1st number between 1-10: "))
b = int(input("insert 2nd number between 1-10: "))
z = a + b
print("z =", z)

insert 1st number between 1-10: 9
insert 2nd number between 1-10: 2
z = 11

In [66]:
x = z + 30
print("Final variable = ", x)

Final variable =  41

# 6. Write a program to check the data type of the entered values. HINT: Printed output should say - The data type of the input value is : int/float/string/etc

In [72]:
a = 2
b = 2.1
c = "hello"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# 7. Create Variables using formats such as Upper CamelCase, Lower CamelCase, SnakeCase and UPPERCASE.

In [84]:
MyName = "This is Upper CamelCase"
myName = "This is Lower CamelCase"
my_name = "This is SnakeCase"
MYNAME = "This is UPPERCASE"

# 8. If one data type value is assigned to ‘a’ variable and then a different data type value is assigned to ‘a’ again. Will it change the value? If Yes then Why?

In [86]:
a = 200
print(a)

200

In [88]:
a = 200.00
print(a)

200.0

In [89]:
# Answer: The value will be same unless you change the value but if you chage the data type , data type will change and the value will be same in diffrent format.